body{
  background: rgba(25,42,50,255);
}

.game_board {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-gap: 15px;
  width: 604px;
  height: 604px;
  margin: 20px auto;
 
}
h1 {
  display:flex;
  justify-content:center;
  font-family: 'Outfit', sans-serif;
  font-weight:500;
  color:rgba(168,190,201,255);
}

.message{
  font-family: 'Outfit', sans-serif;
  font-weight:900;
  font-size: 50Px;
  color: rgba(242,177,55,255);

}
.game_board a {
  background: rgba(31,53,64,255);
  text-decoration: none;
  text-align: center;
  line-height: 187px;
  font-size: 100px;
  font-family: 'Outfit', sans-serif;
  font-weight:900;
  color: rgba(49,195,189,255);
  border-radius: 30px;
  box-shadow: 5px 5px 10px 2px rgba(16,33,42,255);
}

.game_board a:hover {
  background: rgba(168,190,201,255);
}

.four-in-line {
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
}

.four-in-line a {
  line-height: 56px;
  font-size: 45px;
}
.button_container{
  display:flex;
  justify-content:center;
 align-items: center;
}

.btn {
  background: rgba(168,190,201,255);
  border: 1px solid rgb(68, 68, 68);
  border-radius: 20%;
  color: rgb(68, 68, 68);
  padding: 5px 10px;
  text-decoration: none;
  box-shadow: 2px 2px 0px 0px rgba(168,190,201,255);
 

}
h2 {
  text-align: center;
}

.game_board .win_move {
  background: rgba(242,177,55,255);
}

.message {
  text-align: center;
  height: 30px;
}

@media(max-width:699px){

  .game_board {
    width: 404px;
    height: 404px;
  }
  .game_board a {
    line-height:124px;
    font-size: 66px;
  }
}

@media(max-width:375px){

  .game_board {
  
    grid-gap: 15px;
    width: 304px;
    height: 304px;

  }
  .game_board a {
    line-height:80px;
    font-size: 36px;
  }
}
